<h1>XOX Game</h1>
<h2 class="alert alert-warning text-center">{{ message }}</h2>
<button
  class="w-100 btn btn-primary"
  style="margin-bottom: 20px"
  (click)="newGame()"
>
  New Game
</button>
<div class="row">
  <div
    style="border: 1px solid #ccc; height: 150px; cursor: pointer"
    class="col-md-4 text-center"
    *ngFor="let game of games; let index = index"
    (click)="clickBox(index)"
  >
    <span style="font-size: 80px">{{ game }}</span>
  </div>
</div>
<hr />
<button class="btn btn-primary">1.Set</button>
